* {
    font-family: monospace, Verdana, sans-serif, Arial;
    background-color: white; /*background color was beige and then rgb(231, 231, 216) -- I think this one looks better now*/
    color: black;
}


body {
    margin: 0;
    padding-top: 0;
    font-size: 10pt;
}

html {
    margin-top: 0;
    padding-top: 0;
    font-size: 10pt;
}

/*-----------------------------HEADER----------------------------*/
.headerDesktop {
    height: 14vh;
    width: 100%;
    display: flex;
    z-index: 100;
    margin: 0;
    line-height: 12vh;
    padding-top: 0;
    position: fixed;
    top: 0;
    border: 1vh solid black;
    box-sizing: border-box;
}

.header1 {
    width: 25%;
    margin-top: 0;
    margin-left: 0;
    background-color: rgb(255, 255, 215);
}

/*rgb(241, 216, 163) previous color*/

.header1 h1 {
    font-size: 3.2em;
    text-shadow: 1.5px 1.5px rgb(0, 132, 255); /*rgb(88, 88, 39)*/
    text-align: center;
    color: black;
    margin: auto;
    background-color: rgb(255, 255, 215);
}

.header1 h1 a:hover {
    color: black;
    text-shadow: 2.5px 2.5px yellow;
}

.headerDesktop nav {
    width: 75%;
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
    background-color: rgb(255, 255, 215);
}

.headerDesktop nav h4 {
    font-size: 1.6em; /*change this later*/
    margin: 0;
    color: rgb(55, 56, 56);
    text-shadow: 1px 1px rgb(0, 132, 255);
    padding-right: 1vw;
    padding-left: 1vw;
    background-color: rgb(255, 255, 215);
    overflow: auto;
}

.headerDesktop nav a:hover {
    text-shadow: 2px 2px yellow;
    color: black;
}

header .headerDesktop a {
    text-decoration: none;
    color: black;
    background-color: rgb(255, 255, 215);
}

.headerMobile {
    display: none;
}

/*--------------------------------MOBILE HEADER--------------------------------*/
@media only screen and (max-width: 1000px) {
    .headerDesktop {
        display: none;
    }

    .headerMobile {
        display: flex;
        width: 100%;
        height: 14vh;
        position: fixed;
        top: 0;
        border: 1vh solid black;
        z-index: 100;
        box-sizing: border-box;
        font-size: 10pt;
    }

    .headerTitleMobile {
        width: 65%;
    }

    .headerTitleMobile h1 {
        line-height: 12.1vh;
        margin: 0;
        padding: 0;
        text-align: center;
        background-color: rgb(255, 255, 215);
    }

    #mobileTitleLink:hover {
        text-shadow: 0.2vh 0.2vh yellow;
    }

    #mobileTitleLink {
        text-decoration: none;
        color: black;
        text-shadow: 0.2vh 0.2vh rgb(0, 132, 255);
        font-size: 2.3rem;
        line-height: 10vh;
        background-color: rgb(255, 255, 215);
    }

    .tabs {
        width: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 255, 215);
        border-left: 0.5vh solid black;
    }

    .tab {
        float: left;
        position: relative;
    }

    .tab label {
        width: 100%;
        background: rgb(255, 255, 215);
        padding: 0.25vh;
        cursor: pointer;
        text-align: center;
        display: block;
        font-size: 1.9rem;
        font-weight: bold;
    }


    .tab label i {
        font-style: normal;
        font-size: 1.9rem;
        color: rgb(0, 132, 255);
        background-color:rgb(255, 255, 215);
    }

    .tab [type="radio"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        margin: 0;
        z-index: 1;
    }

    .content {
        position: absolute;
        width: 150%;
        top: 100%;
        right: 0vh;
        opacity: 0;
        background: rgb(255, 255, 215);
        color: black;
        padding: 2vh;
        border: 0.4vh solid black;
    }

    .content ul {
        background-color: rgb(255, 255, 215);
        font-size: 1.3rem;
        font-weight: bold;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .content a {
        background-color: rgb(255, 255, 215);
        color: black;
        display: block;
        white-space: nowrap;
        text-decoration: none;
        border-bottom: 0.2vh solid black;
        padding: 0.8vh;
    }

    #noBorder {
        border: none;
    }

    .content a:hover {
        background-color:rgb(0, 132, 255);
    }


    [type="radio"]:checked ~ label {
        z-index: 2;
    }

    [type="radio"]:checked ~ label ~ .content {
        z-index: 2;
        opacity: 1;
    }
    
    .close-tab {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .close-tab label {
        background-color: rgb(255, 255, 215);
        color: black;
    }

    [type="radio"]:checked ~ label ~ .close-tab {
        z-index: 3;
    }
}


/*------------------------------WHOLE SITE CONTAINER--------------------------------*/
.wholeSiteDesktop {
    min-height: 100%;
}

.wholeSiteMobile {
    display: none;
}


/*-------------------------------BODY FORMAT----------------------------------------*/
.bodyContainer {
    margin-left: 7%;
    margin-right: 7%;
    position: relative;
    top: 14vh;
    display: flex;
    padding-bottom: 2vh;
    flex: 0 1 80vw;
}

.leftContentContainer {
    display: block;
    margin-top: 2vh;
    width: 70%;
}

.rightContentContainer {
    display: block;
    margin-top: 4vh;
    width: 29%;
}


/*---------VERTICAL BORDER BETWEEN LEFT & RIGHT CONTAINERS--------*/
.middleVerticalBorder {
    margin-top: 7vh;
    margin-bottom: 7vh;
    margin-left: 2vh;
    display: block;
    width: 1%;
    height: auto;
    border-right: 0.5vh solid black;
}

/*--------------------------------SUBTITLE--------------------------------*/
.subtitle {
    display: block;
    margin-top: 3vh;
}

.subtitle h2 {
    font-size: 1.8rem;
    margin-bottom: 2vh;
    margin-top: 1.5vh;
    text-align: center;
    font-weight: 1000;
}

.subtitle h2 span {
    font-style: italic;
}

.subtitle h1 {
    margin-top: 2vh;
    margin-bottom: 2.5vh;
    text-align: center;
    font-size: 3.1rem;
    text-shadow: 1.5px 1.5px rgb(0, 132, 255);
}

.coverPic {
    display: flex;
    justify-content: center;
}

.coverPic img {
    width: 85%;
    height: 85%;
    filter: drop-shadow(0 0 2rem rgb(255, 255, 215));
}

.subtitle h3 {
    font-size: 1.7rem;
    text-align: left;
}

.subtitle p {
    font-size: 1.5rem;
    padding-top: 3vh;
    text-align: left;
    line-height: 2.1rem;
    font-weight: 450;
    font-family: 'Lato', sans-serif;
    word-spacing: 0.2rem;
}

.subtitle a {
    font-family: 'Lato', sans-serif;
    line-height: 2.1rem;
    word-spacing: 0.2rem;
}

.subtitle a:hover {
    color: rgb(0, 80, 155);
}

.subtitle h5 {
    margin-right: 7vw;
    text-align: right;
    font-style: italic;
    font-size: 1.6rem;
}

/*----------------------MY NOVEL FEATURE - FIRST SIDE SECTION-----------------------*/

.subtitleSideSection { /*---------------------------change names later on-----------------*/
    margin-top: 7.5vh;
    margin-left: 2.5vw;
    margin-bottom: 4vh;
    background-color: rgb(255, 255, 215);
    border: 0.4vh solid black;
}

.subtitleSideSection a {
    text-decoration: none;
    background-color: rgb(255, 255, 215);
}

#underlined1 {
    text-decoration: underline;
}

.subtitleSideSectionText {
    margin: 2vh;
    background-color: rgb(255, 255, 215);
}

.subtitleSideSectionText h2, .subtitleSideSectionText h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1.5vh;
    background-color: rgb(255, 255, 215);
}

.subtitleSideSectionText h3 {
    font-size: 1.5rem;
}

.subtitleSideSectionText h2 {
    text-shadow: 0.2vh 0.2vh rgb(0, 132, 255);
    font-size: 1.7rem;
}

.subtitleSideSectionText h2:hover {
    text-shadow: 0.2vh 0.2vh yellow;
}

.subtitleSideSectionText p {
    line-height: 1.5rem;
    word-spacing: 0.5pt;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgb(255, 255, 215);
}

.subtitleSideSectionText h4 {
    font-size: 1.4em;
    text-align: center;
    background-color: rgb(255, 255, 215);
    color:rgb(0, 132, 255);
}

.subtitleSSImage {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 215);
}

.subtitleSSImage img {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 215);
}

/*------------------------------BORDER BETWEEN FEATURE SECTIONS 1 AND 2---------------------------*/
.borderBetweenOneAndTwo {
    border-bottom: 0.5vh solid black;
    width: 97%;
    margin: 0 auto;
}

/*------------------------------POST HIGHLIGHTS - 2ND FEATURE CONTENT------------------------*/

.postHighlights {
    margin-top: 5vh;
    margin-bottom: 7vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.postHighlights a {
    text-decoration: none;
    background-color: rgb(255, 255, 215);
    text-shadow: 1.5px 1.5px rgb(0, 132, 255)
}

.postHighlights a:hover {
    text-shadow: 1.5px 1.5px yellow;
}

.resume {
    width: 28%;
    margin-bottom: 4vh;
    border: 0.4vh solid black;
    background-color: rgb(255, 255, 215);
}

.novel {
    width: 28%;
    margin-bottom: 4vh;
    border: 0.4vh solid black;
    background-color: rgb(255, 255, 215);
}

.projects {
    width: 28%;
    margin-bottom: 4vh;
    border: 0.4vh solid black;
    background-color: rgb(255, 255, 215);
}

.writing {
    width: 28%;
    border: 0.4vh solid black;
    background-color: rgb(255, 255, 215);
}

.blog {
    width: 28%;
    border: 0.4vh solid black;
    background-color: rgb(255, 255, 215);
}

.mythicGame {
    width: 28%;
    border: 0.4vh solid black;
    background-color: rgb(255, 255, 215);
}

.resume h2, .novel h2, .projects h2, .writing h2, .blog h2, .mythicGame h2 {
    text-align: center;
    background-color: rgb(255, 255, 215);
    font-size: 2.3rem;
}

.highlightIcons {
    margin: auto;
    background-color: rgb(255, 255, 215);
    width: 70%;
}

.highlightIcons img {
    width: 100%;
    height: auto;
    margin-top: 2vh;
    background-color: rgb(255, 255, 215);
}

/*-----------------------------HORIZONTAL BORDER ON SIDE SECTION ------------------------------*/
.horizontalBorderContainer1 {
    display: flex;
    justify-content: center;
}

.horizontalBorder1 {
    border-bottom: 0.7vh solid black;
    margin-left: 5vh;
    width: 80%;
}

/*-----------------------------RECENT POSTS SIDE SECTION-------------------------*/

#postTags {
    color:rgb(0, 80, 155);
    text-decoration: none;
    background-color: rgb(255, 255, 215);
}

#postTags:hover {
    color: black;
}

.recentPosts {
    margin-top: 4vh;
    margin-left: 2.5vw;
    margin-bottom: 4vh;
}

.recentPosts h2 {
    font-size: 2rem;
    text-align: center;
    margin: 2vh;
}

#italicLink {
    font-style: italic;
    text-decoration: none;
    background-color: rgb(255, 255, 215);
    text-shadow: 0.1vh 0.1vh rgb(0, 132, 255);
}

#italicLink:hover {
    text-shadow: 0.2vh 0.2vh yellow;
}

.recentPosts h3, .recentPosts h4, .recentPosts p {
    margin: 2vh;
    background-color: rgb(255, 255, 215);
}
.recentPost1, .recentPost2, .recentPost3 {
    margin: 0 0 3vh 0;
    background-color: rgb(255, 255, 215);
    border: 0.4vh solid black;
}

.recentPosts h3 {
    font-size: 1.7rem;
}

.recentPosts h4 {
    font-size: 1.1rem;
}

.recentPosts h5 {
    margin: 2vh;
    font-size: 1.0rem;
    background-color:rgb(255, 255, 215);
}

.recentPosts p {
    font-size: 1.1rem;
    margin-bottom: 1vh;
    line-height: 1.5rem;
    font-family: 'Lato', sans-serif;
}

#readMoreLink {
    font-size: 1.4rem;
    color:rgb(0, 80, 155);
    text-decoration: underline;
    background-color: rgb(255, 255, 215);
}

#readMoreLink:hover {
    color: black;
}

.recentPosts h6 {
    margin: 3vh 2vh 3vh 2vh;;
    background-color: rgb(255, 255, 215);
    text-align: center;
}

.morePosts {
    display: block;
    text-align: center;
    margin-top: 3.5vh;
    margin-bottom: 1vh;
    font-size: 1.6em;
}

.morePosts a {
    font-size: 1.3rem;
    color: black;
    text-shadow: 0.1vh 0.1vh rgb(0, 132, 255);
}

.morePosts a:hover {
    text-shadow: 0.5px 0.5px yellow;
}


/*------------MAILCHIMP SIGNUP FORM -- DESKTOP AND MOBILE-----------------*/
#mc_embed_signup_scroll {
    margin-top: 4vh;
    margin-left: 2.5vw;
    margin-bottom: 4vh;
    border: 0.4vh solid black;
    background-color: rgb(255, 255, 215);
}

#mc_embed_signup_scroll h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 2vh;
    background-color: rgb(255, 255, 215);
}

#mc_embed_signup_scroll label {
    font-size: 1.2rem;
    background-color: rgb(255, 255, 215);
}

#mc_embed_signup_scroll2 {
    margin-top: 4vh;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-bottom: 4vh;
    border: 0.4vh solid black;
    background-color: rgb(255, 255, 215);
}

#mc_embed_signup_scroll2 h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 2vh;
    background-color: rgb(255, 255, 215);
}

#mc_embed_signup_scroll2 label {
    font-size: 1.2rem;
    background-color: rgb(255, 255, 215);
}

.mc-field-group {
    width: 80%;
    margin: auto;
    background-color: rgb(255, 255, 215);
}

#mce-EMAIL {
    width: 100%;
    margin-bottom: 2vh;
    background-color: white;
}

.clear {
    width: 50%;
    margin: auto;
    padding-bottom: 1.5vh;
    background-color: rgb(255, 255, 215);
}

#mc-embedded-subscribe {
    font-size: 1.4rem;
    width: 100%;
    margin: auto;
    background-color: rgb(255, 255, 215);
    border: 0.2vh solid black;
}

#mc-embedded-subscribe:hover {
    background-color:rgb(0, 132, 255);
}



/*------------MOBILE FOOTER DISPLAY NONE-----------*/
.footerMobile {
    display: none;
}


/*----------------------------MOBILE SITE--------------------------------------*/
@media only screen and (max-width: 1000px) {
/*------------------SUBTITLE SECTION--------------------*/
    .wholeSiteDesktop {
        display: none;
    }

    .footerDesktop{
        display: none;
    }

    .wholeSiteMobile {
        display: block;
        position: relative;
        top: 13vh;
        margin-left: 4%;
        margin-right: 4%;
        justify-content: center;
    }

    .subtitleMobile {
        margin-top: 4vh;
        margin-bottom: 5vh;
    }

    .subtitleMobile h2 {
        text-align: center;
        font-size: 1.7rem;
        margin-bottom: 2vh;
    }

    .subtitleMobile span {
        font-style: italic;
    }

    .subtitleMobile h1 {
        font-size: 2.2rem;
        text-shadow: 0.2vh 0.2vh rgb(0, 132, 255);
        text-align: center;
        margin-top: 2vh;
    }

    .subtitleMobile img {
        filter: drop-shadow(0 0 1.5rem rgb(255, 255, 215));
        width: 85%;
        height: auto;
    }

    .subtitleMobile p {
        font-size: 1.4rem;
        margin-top: 3.5vh;
        line-height: 2.1rem;
        font-family: 'Lato', sans-serif;
        font-weight: 550;
    }

    .subtitleMobile a {
        line-height: 2.1rem;
        font-family: 'Lato', sans-serif;
        font-weight: 550;
    }

    .subtitleMobile a:hover {
        color:rgb(0, 80, 155);
    }

    .subtitleMobile h3 {
        font-size: 1.6rem;
        margin-bottom: 2vh;
    }

    .subtitleMobile h5 {
        text-align: right;
        font-style: italic;
        font-size: 1.7rem;
        margin-top: 1vh;
    }

    .mobileBorder1 {
        border-bottom: 0.8vh solid black;
        margin-left: 10%;
        margin-right: 10%; 
        display: block;
    }
/*-------------------MOBILE NOVEL FEATURE------------------*/
    .myNovelFeatureMobile {
        justify-content: center;
        margin: 5vh 1vw 5vh 1vw;
        border: 0.5vh solid black;
        background-color:rgb(255, 255, 215);
    }

    .myNovelFeatureMobile a {
        text-decoration: none;
        background-color:rgb(255, 255, 215);
    }

    .myNovelFeatureMobile h3, .myNovelFeatureMobile h4 {
        font-size: 1.8rem;
        text-align: center;
        background-color:rgb(255, 255, 215);
    }

    .myNovelFeatureMobile h4 {
        font-size: 1.8rem;
    }

    .myNovelFeatureMobile h2 {
        font-size: 2.2rem;
        text-align: center;
        text-shadow: 0.2vh 0.2vh rgb(0, 132, 255);
        background-color:rgb(255, 255, 215);
    }

    .novelImageMobile {
        display: flex;
        justify-content: center;
        background-color:rgb(255, 255, 215);
    }

    .novelImageMobile img {
        width: 100%;
        height: auto;
        background-color:rgb(255, 255, 215);
    }
    
    .myNovelFeatureMobile p {
        background-color:rgb(255, 255, 215);
        font-weight: normal;
        line-height: 1.5rem;
        margin: 2vh;
        font-size: 1.3rem;
    }

    .myNovelFeatureMobile h2:hover {
        text-shadow: 0.2vh 0.2vh yellow;
    }

    /*---------------------MOBILE POST HIGHIGHTS--------------------------*/
    .highlightsMobile {
        margin: 5vh 7.5% 5vh 7.5%;
        display: block;
        background-color: rgb(255, 255, 215);
        align-content: center;
        border: 0.5vh solid black;
    }

    .resumeMobile {
        display: flex;
        background-color: rgb(255, 255, 215);
        height: 12vh;
        width: 100%;
    }

    .novelMobile, .projectsMobile, .writingMobile, .blogMobile, .mythicGameMobile {
        display: flex;
        background-color: rgb(255, 255, 215);
        border-top: 0.5vh solid black;
        height: 12vh;
        width: 100%;
    }

    .highlightsMobile img {
        height: 100%;
        width: auto;
        background-color: rgb(255, 255, 215);
    }

    .highlightIconsMobile a {
        height: 80%;
        width: auto;
    }

    .highlightsMobile h2 {
        text-align: left;
        font-size: 2rem;
        background-color: rgb(255, 255, 215);
        text-shadow: 0.2vh 0.2vh rgb(0, 132, 255);
        width: 100%;
        margin: 0;
        line-height: 12vh;
    }

    .highlightIconsMobile {
        width: 35%;
        background-color: rgb(255, 255, 215);
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .highlightTitleMobile {
        background-color: rgb(255, 255, 215);
        width: 60%;
    }

    .highlightsMobile a {
        background-color: rgb(255, 255, 215);
        text-decoration: none;
    }

    .highlightsMobile h2:hover {
        text-shadow: 0.2vh 0.2vh yellow;
    }

    /*--------------------------MOBILE RECENT POSTS----------------------------*/
    .recentPostsMobile {
        display: block;
        justify-content: center;
        margin: 4vh 7.5% 5vh 7.5%;
    }

    .recentPostsMobile h2 {
        text-align: center;
        font-size: 2.4rem;
        text-shadow: 0.2vh 0.2vh rgb(0, 132, 255);
        margin-bottom: 2vh;
    }

    .post1Mobile, .post2Mobile, .post3Mobile {
        border: 0.4vh solid black;
        margin-top: 2%;
        margin-bottom: 3vh;
        background-color: rgb(255, 255, 215);
    }

    .recentPostsMobile h3, .recentPostsMobile h4, .recentPostsMobile h5, .recentPostsMobile p {
        margin: 2vh;
        background-color: rgb(255, 255, 215);
    }

    .recentPostsMobile h3 {
        font-size: 1.8rem;
    }

    #italicLink {
        font-style: italic;
        text-decoration: none;
        background-color: rgb(255, 255, 215);
        text-shadow: 0.2vh 0.2vh rgb(0, 132, 255);
    }
    
    #italicLink:hover {
        text-shadow: 0.2vh 0.2vh yellow;
    }

    .recentPostsMobile h4 {
        font-size: 1.2rem;
    }

    .recentPostsMobile h5 {
        font-size: 1.1rem;
        text-align: left;
    }

    .recentPostsMobile p {
        font-size: 1.2rem;
        font-family: 'Lato', sans-serif;
    }

    .recentPostsMobile h6 {
        margin: 2vh;
        text-align: center;
        background-color: rgb(255, 255, 215);
        font-size: 1.3rem;
    }

    #readMoreLinkMobile {
        background-color: rgb(255, 255, 215);
        font-weight: bold;
        color: rgb(0, 80, 155);
    }

    #readMoreLinkMobile:hover {
        color: black;
    }

    .morePostsMobile {
        display: flex;
        justify-content: space-between;
    }

    .morePostsMobile a {
        font-size: 1.2rem;
        text-shadow: 0.2vh 0.2vh rgb(0, 132, 255);
        margin-bottom: 0;
        margin-top: 2vh;
    }

    /*-----------------MOBILE FOOTER--------------*/
    .footerMobile {
        position: relative;
        top: 14vh;
        display: flex;
        height: 13vh;
        margin-bottom: 0;
        background-color:rgb(255, 255, 215);
        border-top: 0.5vh solid black;
        margin-top: 5vh;
    }

    .footerTitleMobile {
        width: 50%;
        background-color:rgb(255, 255, 215);
    }

    .footerTitleMobile h5 {
        margin-top: 2vh;
        padding: 0;
        text-align: center;
        font-size: 0.8rem;
        font-weight: 1000;
        background-color:rgb(255, 255, 215);
    }

    .footerInfoMobile {
        margin-top: 1vh;
        margin-right: 5vh;
        display: block;
        width: 50%;
        background-color:rgb(255, 255, 215);
    }

    .footerInfoMobile h3 {
        text-align: right;
        font-size: 1rem;
        margin: 0;
        background-color:rgb(255, 255, 215);
    }

}

/*------------------------------FOOTER-----------------------------*/
/*---I think if this doesn't work on other pages that aren't more than 100% height, then I can 
just customize those pages with a sticky footer at the bottom*/

footer {
    position: relative;
    top: 14vh;
    display: flex;
    width: 100%;
    height: 13vh;
    line-height: 13vh;
    background-color: rgb(255, 255, 215);
    border-top: 0.5vh solid black;
}

.footerTitle {
    width: 65%;
    background-color: rgb(255, 255, 215);
}

.footerInfo {
    width: 35%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 215);
}

.footerInfo h3 {
    font-size: 1.7rem;
    margin: 0;
    background-color: rgb(255, 255, 215);
}

.footerTitle h5 {
    font-size: 1.4rem;
    padding-left: 1vh;
    margin: 0;
    background-color: rgb(255, 255, 215);
}

footer a {
    background-color: rgb(255, 255, 215);
    text-decoration: none;
}


/*---------------------------------SHORT FOOTER----------------------------------*/
.shortFooterDesktop {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 13vh;
    line-height: 13vh;
    background-color: rgb(255, 255, 215);
    border-top: 0.5vh solid black;
}

.shortFooterTitle {
    width: 65%;
    background-color: rgb(255, 255, 215);
}

.shortFooterInfo {
    width: 35%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 215);
}

.shortFooterInfo h3 {
    font-size: 1.7rem;
    margin: 0;
    background-color: rgb(255, 255, 215);
}

.shortFooterTitle h5 {
    font-size: 1.4rem;
    padding-left: 1vh;
    margin: 0;
    background-color: rgb(255, 255, 215);
}

.shortFooterMobile {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .shortFooterDesktop {
        display: none;
    }

    .shortFooterMobile {
        position: absolute;
        bottom: 0;
        display: flex;
        width: 100%;
        height: 13vh;
        margin-bottom: 0;
        background-color:rgb(255, 255, 215);
        border-top: 0.5vh solid black;
        margin-top: 5vh;
    }

    .shortFooterTitleMobile {
        width: 50%;
        background-color:rgb(255, 255, 215);
    }

    .shortFooterTitleMobile h5 {
        margin-top: 2vh;
        padding: 0;
        text-align: center;
        font-size: 0.8rem;
        font-weight: 1000;
        background-color:rgb(255, 255, 215);
    }

    .shortFooterInfoMobile {
        margin-top: 1vh;
        margin-right: 5vh;
        display: block;
        width: 50%;
        background-color:rgb(255, 255, 215);
    }

    .shortFooterInfoMobile h3 {
        text-align: right;
        font-size: 1rem;
        margin: 0;
        background-color:rgb(255, 255, 215);
    }
}


/*-----------------------------------------UNDER CONSTRUCTION-------------------------------------------*/

.comingSoon {
    position: relative;
    top: 30vh;
    width: 80%;
    margin: auto;
    text-align: center;
}



